<a href="https://colab.research.google.com/github/ziyasarican/Kaggle/blob/main/Titanic/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [299]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [300]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [301]:
# No correlations some columns
train.drop(['PassengerId','Name', 'Ticket', 'Fare', 'Cabin'], axis=1, inplace=True)
test.drop(['PassengerId','Name', 'Ticket', 'Fare', 'Cabin'], axis=1, inplace=True)

In [302]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
dtype: int64

In [303]:
test.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Embarked     0
dtype: int64

In [304]:
train.Age.fillna(train['Age'].mean(), inplace = True)
test.Age.fillna(test['Age'].mean(), inplace = True)

In [305]:
train['Embarked'].fillna('S', limit=1, inplace=True)

In [306]:
# Encoding categorical types
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train['Embarked']= label_encoder.fit_transform(train['Embarked']) 
test['Embarked']= label_encoder.fit_transform(test['Embarked'])

In [307]:
train.head(), test.head()

(   Survived  Pclass     Sex   Age  SibSp  Parch  Embarked
 0         0       3    male  22.0      1      0         2
 1         1       1  female  38.0      1      0         0
 2         1       3  female  26.0      0      0         2
 3         1       1  female  35.0      1      0         2
 4         0       3    male  35.0      0      0         2,
    Pclass     Sex   Age  SibSp  Parch  Embarked
 0       3    male  34.5      0      0         1
 1       3  female  47.0      1      0         2
 2       2    male  62.0      0      0         1
 3       3    male  27.0      0      0         2
 4       3  female  22.0      1      1         2)

In [308]:
# Encoding categorical types
label_encoder = preprocessing.LabelEncoder()
train['Sex']= label_encoder.fit_transform(train['Sex']) 
test['Sex']= label_encoder.fit_transform(test['Sex'])

In [309]:
train.head(), test.head()

(   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
 0         0       3    1  22.0      1      0         2
 1         1       1    0  38.0      1      0         0
 2         1       3    0  26.0      0      0         2
 3         1       1    0  35.0      1      0         2
 4         0       3    1  35.0      0      0         2,
    Pclass  Sex   Age  SibSp  Parch  Embarked
 0       3    1  34.5      0      0         1
 1       3    0  47.0      1      0         2
 2       2    1  62.0      0      0         1
 3       3    1  27.0      0      0         2
 4       3    0  22.0      1      1         2)

In [329]:
x_train = train.drop(['Survived'], axis=1)
y_train = train['Survived']

In [330]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size = 0.3, random_state = 50)

In [331]:
from sklearn.linear_model import LogisticRegression
cls = LogisticRegression(random_state=0, max_iter=200)
cls.fit(X_train, Y_train)

LogisticRegression(max_iter=200, random_state=0)

In [332]:
pred = cls.predict(X_test)

In [333]:
from sklearn.metrics import accuracy_score
accuracy_score(pred, Y_test)

0.8097014925373134

In [338]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size = 0.3, random_state = 5)

from sklearn.ensemble import RandomForestRegressor
rsr = RandomForestRegressor(n_estimators = 100, random_state = 0)
rsr.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [339]:
pred2 = cls.predict(X_test)
accuracy_score(pred2, Y_test)

0.8208955223880597